@charset "UTF-8";

@media screen and (min-width: 301px) and (max-width: 480px) {
    h1 {
        font-size: 17px;
    }
    div#div1 {
        font-size: 15px;
    }
    input {
        font-size: 8px;
    }
    #totalGastos {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
}